modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/sweep-bot: bot"

[[workflows.workflow]]
name = "artifacts/sweep-bot: bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 artifacts/sweep-bot/src/bot.py"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 5173
externalPort = 5173
exposeLocalhost = true

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 18555
externalPort = 8000

[[ports]]
localPort = 19460
externalPort = 4200

[[ports]]
localPort = 21905
externalPort = 3001

[[ports]]
localPort = 21906
externalPort = 3002

[[ports]]
localPort = 21907
externalPort = 5000

[[ports]]
localPort = 22133
externalPort = 3000

[[ports]]
localPort = 23482
externalPort = 6800

[[ports]]
localPort = 23758
externalPort = 6000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
MOTHER_API_URL = "http://localhost:80/api"
MINI_APP_URL = "https://souqrates.com/"
MOTHER_BOT_USERNAME = "souqrates_system_bot"
VITE_SWEEP_BOT_API_KEY = "30291674cabae376d1349f1847da9cd04219adedfa9a68f1b5858bcc0ea7f8dd"
